*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}
body .barra-left{
    background-color: red;
    width: 335px;
    height: 100vh;
}
body .barra-right{
    width: 100%;
    height: 100vh;
}
body .barra-right .ctn-centro{
    border-left: solid 1px black;
    border-right: solid 1px black;
    margin: 0 auto;
    width: 935px;
    height: 100vh;
}