/* Configurações Globais */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}
body .body-sect{
    display: flex;
}
/* Configurações Barra Lateral */
body .body-sect .barra-left{
    background-color: red;
    width: 405px;
}
body .barra-left .lateral{
    height: 100vh;
    width: 335px;
    position: fixed;
    z-index: 999;
    padding: 30px 20px;
}
body .body-sect .barra-left .lateral h2{
    margin-bottom: 50px;
    color: #ffffff;
}
body .body-sect .barra-left .lateral .lateral-icons a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}
body .body-sect .barra-left .lateral .lateral-icons a img{
    width: 30px;
    filter: invert(100%);
}
body .body-sect .barra-left .lateral .lateral-icons a p{
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
}

/* Configurações área principal */
body .body-sect .barra-right{
    width: 100%;
}
body .body-sect .barra-right .ctn-centro{
    margin: 0 auto;
    width: 935px;
    padding-top: 30px;
}

/* Configurações parte de cima do Header */
body .body-sect .barra-right .ctn-centro .cx-header header .h-top{
    display: flex;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-img{
    width: 40%;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    border: solid 5px red;

    animation-name: foto-perfil;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes foto-perfil {
    0%{transform:scale(100%);}
    50%{transform:scale(102%);}
    100%{transform:scale(100%);}
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt{
    margin: 0px 0px 0px 80px;
    width: 100%;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt .h-txt-line1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt .h-txt-line1 .title h1{
    font-size: 26px;
    color: red;
    font-weight: 900;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt .h-txt-line1 .title h1 a{
    text-decoration: none;
    color: red;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt .h-txt-line1 .buton{
    display: flex;
    gap: 40px;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt .h-txt-line1 .buton a{
    background-color: red;
    padding: 5px 20px;
    border: unset;
    border-radius: 10px;
    width: 160px;
    font-size: 18px;
    color:white;
    text-decoration: none;
    text-align: center;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt .h-txt-line2{
    display: flex;
    justify-content: space-between;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt .h-txt-line2 .count{
    padding: 35px 0px;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt .h-txt-line3 #p-title{
    margin-bottom: 5px;
    font-size: 20px;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt .h-txt-line3 #p-descricao{
    margin: 0px 0px 5px 0px;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-top .header-txt .h-txt-line3 a{
    text-decoration: none;
    margin-right: 5px;
}

/* Configurações parte de baixo do Header (destaques) */
body .body-sect .barra-right .ctn-centro .cx-header header .h-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    border-bottom: solid 1px rgb(206, 202, 202);
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-bottom .destaque{
    margin-right: 60px;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-bottom .destaque div{
    border: solid 1px red;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    margin: 0 auto;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-bottom .destaque div img{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-bottom .destaque p{
    text-align: center;
    margin-top: 5px;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-bottom #adicionar a{
    text-decoration: none;
    color: red;
}
body .body-sect .barra-right .ctn-centro .cx-header header .h-bottom #adicionar a p{
    font-size: 30px;
    text-align: center;
    margin-top: 18px;
}

/* Configurações das prévias do conteúdo */
.body-sect .sec-content .content-options{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}
.body-sect .sec-content .content-options a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0px 50px;
}

.body-sect .sec-content .cx-article{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}
.body-sect .sec-content .cx-article .post-preview{
    width: 32.6%;
}
.body-sect .sec-content .cx-article .post-preview a{
    text-decoration: none;
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.body-sect .sec-content .cx-article .post-preview img{
    width: 100%;
    height: 385.41px;
    object-fit: cover;
    object-position: center;
}
.body-sect .sec-content .cx-article .post-preview img:hover{
    filter:saturate(120%)
}
.body-sect .sec-content .cx-article .post-preview h2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px 10px 10px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    background-image: linear-gradient(0deg, black, rgb(0, 0, 0, 0));
}

/* Configurações do rodape */
.body-sect .ctn-footer2 footer div{
    height: 140px;
    border-top: solid 1px rgb(191, 186, 186);
    margin-top: 60px;
    padding-top: 50px;
    background-color: rgb(243, 241, 241);
}
.body-sect .ctn-footer2 footer div p{
    text-align: center;
}